*{
  background-color: hsl(212, 45%, 89%)
}

.App{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.divbox{
  background-color: hsl(0, 0%, 100%);
  margin: 200px;
  width: 400px;
  height: auto;
  border: 1px white solid;
  border-radius: 20px;
  display: grid;
  grid-column: 1fr;
  padding: 10px;
}

.qrcode{
  margin: 10px;
  /* padding: 30px; */
  width: 96%;
  height: 96%;
  border-radius: 10px;
  
}

h1{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin: 15px;
  background-color: transparent;
}

p{
  font-size: 22px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
  width: fit-content;
  margin: 10px;
  margin-bottom: 30px;
  background-color: transparent;
}